<div *ngIf="weatherService.weatherData() as weather">
  <div class="todays-forecast">
    <p class="todays-forecast__message">TODAY'S FORECAST</p>
    <div class="todays-forecast__grid">
      <!-- First show current weather (first item in list) -->
      <div class="todays-forecast__item">
        <span class="todays-forecast__time">Now</span>
        <img 
          [src]="'assets/icons/' + weather.list?.[0]?.weather?.[0]?.icon + '.png'" 
          class="todays-forecast__icon"
        />
        <span class="todays-forecast__temp">
          {{ weather?.list?.[0]?.main?.temp | number:'1.0-0' }}°
        </span>
      </div>
      <div 
        *ngFor="let forecast of weather.list | slice:1:17" 
        class="todays-forecast__item"
      >
        <span class="todays-forecast__time">
          {{ forecast.dt * 1000 | date:'HH:mm' }}
        </span>
        <img 
          [src]="'assets/icons/' + forecast.weather[0].icon + '.png'" 
          class="todays-forecast__icon"
          [alt]="forecast.weather[0].description"
        />
        <span class="todays-forecast__temp">
          {{ forecast.main.temp | number:'1.0-0' }}°
        </span>
      </div>
    </div>
  </div>
</div>