.todays-forecast {
  background: #212340;
    color: white;
    border-radius: 0.5rem;
    width: 67%;
    margin: auto;
  
    &__message {
      font-size: 0.8rem;
      opacity: 0.5;
      font-weight: bold;
      margin-bottom: 0.6rem;
      padding: 0.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  
    &__grid {
      display: flex;
      overflow-x: auto;
      padding: 0.625rem;
      gap: 0.9375rem;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 3.125rem;
    }
  
    &__time {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }
  
    &__icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  
    &__temp {
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }
